@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Suwannaphum&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 50px;
}

#container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

#story {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    width: 40vw;
}

#story p {
    align-self: left;
}

#buttons {
    display: flex;
    align-self: center;
}

#button3 {
    align-self: center;
}

#input {
    display: flex;
}

img {
    max-width: 50vw;
    max-height: 60vh;
    float: right;
}

button {
    background-color: white;
    
    box-shadow: 0 0 5px black;
    border: none;
    border-radius: 40px;
    margin: 15px;
    width: 200px;
    height: 50px;
    transition-duration: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

#hints {
    background-color: rgb(52, 52, 52);
    color: white;
    cursor: pointer;
    width: 100px;
    text-align: center;
    outline: none;
    transition: 0.4s;
  }
  
  .active, #hints:hover {
    background-color: rgba(52, 52, 52, 0.9);
    transform: scale(1);
  }
  
  #hints-content {
      width: 100%;
    padding: 0 18px;
    display: none;
    overflow: hidden;
  }