@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Suwannaphum&display=swap');

* {
    font-family: 'Raleway', sans-serif;
}

body {
    padding: 50px;
}

#container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

#story {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    width: 40vw;
}

#buttons {
    display: flex;
}

#input {
    display: flex;
}

img {
    max-width: 50vw;
    max-height: 60vh;
    float: right;
}

button {
    background-color: white;
    
    box-shadow: 0 0 5px black;
    border: none;
    border-radius: 20px;
    margin: 15px;
    width: 150px;
    height: 35px;
    transition-duration: 0.3s;
}

button:hover {
    transform: scale(1.1);
}